<h1 class="titulo">Administracion de Usuarios</h1>

<div padding class="background">
  <div class="centrado carta">
    <div>
      <label position="floating">Usuario</label>
      <select [(ngModel)]="ID">
        <option *ngFor="let codigoItem of dataUsuarios"> {{ codigoItem.ID }}</option>
      </select>
    </div>
    <button color="warning" (click)="getData()">Cargar Usuario</button>
    <br>
    <div>
      <label position="floating">Codigo de Usuario</label>
      <input clear-input type="text" [(ngModel)]="data.ID">
    </div>
    <div>
      <label position="floating">Nombre de Usuario</label>
      <input clear-input type="text" [(ngModel)]="data.NAME">
    </div>

    <div>
      <label position="floating">Contraseña</label>
      <input clear-input type="text" [(ngModel)]="data.PASSWORD">
    </div>
    <div>
      <label position="floating">Correo</label>
      <input clear-input type="text" [(ngModel)]="data.EMAIL">
    </div>
    <div>
      <label position="floating">Tipo de Usuario</label>
      <select [(ngModel)]="data.TYPE">
        <option>Administrador</option>
        <option>Empleado</option>
      </select>
    </div>
    <button color="warning" (click)="createUsuario()">Crear Usuario</button>
    <button color="warning" (click)="modifyUsuario()">Modificar Usuario</button>
    <button color="warning" (click)="deleteUsuario()" *ngIf="activo">Dar de Baja a Usuario</button>
    <button color="warning" (click)="reactivateUsuario()" *ngIf="!activo">Dar de Alta a Usuario</button>
  </div>
</div>
