<!-- Editor -->
<div class="col-sm-12">

    <!-- Componentes -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
            <!-- <button type="button" class="btn btn-sm btn-outline-success" (click)="Ejecutar($event)" >Ejecutar</button>     -->
            <div class="container-fluid">
                <div class="row">
            
                    <div class="section">
                        <div class="section-header">
                            <h5>Bienvenido</h5>
                        </div>
                        <div class="section-body">
                            <div id="no-border-treeview" class="treeview">
                                <ul class="list-group">
                                    <li class="list-group-item node-no-border-treeview" data-nodeid="0" style="color:undefined;background-color:undefined;">
                                        <span class="icon expand-icon glyphicon glyphicon-minus"></span>
                                        <span class="icon node-icon"></span>Usuarios
                                        <a class="dropdown-item" [routerLink]="['/admin-usuarios']">CRUD</a>
                                        <a class="dropdown-item" [routerLink]="['/users-list']">Lista</a>
                                    </li>
                                    <li class="list-group-item node-no-border-treeview" data-nodeid="0" style="color:undefined;background-color:undefined;">
                                        <span class="icon expand-icon glyphicon glyphicon-minus"></span>
                                        <span class="icon node-icon"></span>Productos
                                        <a class="dropdown-item" [routerLink]="['/admin-productos']">CRUD</a>
                                        <a class="dropdown-item" [routerLink]="['/products-list']">Lista</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

               </div>
            </div>
            
            
        </div>
    </div>
</div>  
      