

<h2 class="ml-3 mt-3">Administracion de Producto</h2>
<div class="col-md-6 offset-md-3 mt-2">

    <tbody>
    <br>
    <button color="warning" (click)="createProducto()">Crear producto</button>
    <br>
    <br>
    <button color="warning" (click)="modifyProducto()">Modificar producto</button>
    <br>
    <br>
    <button color="warning" (click)="deleteProducto()"> Eliminar producto</button>
    <br>
    <br>
    <button color="warning" (click)="returnMenu()">Menu Principal</button>
    <br>
    </tbody>

</div>
