

<ion-content padding class="background">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-item class=" fields">
    <ion-label color="tertiary"   position="floating" > Usuario</ion-label>
    <ion-icon name="person" slot="end"></ion-icon>
    <ion-input clear-input type="text"  [(ngModel)]="user"></ion-input>
</ion-item>
<br>
<br>
<ion-item class=" fields">
  <ion-label   color="tertiary"  position="floating" > Contraseña</ion-label>
  <ion-icon   (click)="ver_password()" name="{{ver_pass}}" slot="end"></ion-icon>
  <ion-input clear-input type= {{type_pass}}  [(ngModel)]="password"></ion-input>
</ion-item>
<br>

<div class ="centrado">
  {{
    error
  }}
</div>

<br>
  <div class ="centrado">
    <ion-button  color="dark"  (click)="presentLoading()">Login</ion-button>
  </div>

  

</ion-content>
