
    ion-content.background{
      --background: url(/assets/img/fondo_purpura.png) 0 0/100% 100% no-repeat;
  }

    .centrado{
      text-align: center;
    }

    .fields {
      margin-top: 15px;
      margin-bottom: 15px;

      max-width: 70% !important;
      margin-left: auto;
      margin-right: auto;
  }